.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
*.freezed.dart
*.lock
.env
nomad.db
humannode.db
android/.gradle/
android/local.properties
android/app/google-services.json
ios/Pods/
ios/Podfile.lock
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/Flutter/
android/app/src/main/java/io/
